# cpp 
build/

# results
data/output/3l-cvrp/test/

# python
python/visualization/__pycache__/
python/.venv/
# ruff
.ruff_cache

#Vs code stuff
/.vs/.*
/.vs
.vs/

#Vs code stuff
/.vscode/.*
/.vscode
.vscode/